@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    position: relative;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
:root{
    --black:#000000;
    --grey:#1e1e1e;
    --green:#c4f112;
}
body{
    height:100vh;
    width:100vw;
    padding-top:50px;

    background-color: var(--black);
    color:var(--green);
}
header{
    user-select: none;
    color:white;
    position: fixed;
    top:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
    background-color: var(--green);
    z-index: 10000;
    padding: 0 40px;
}
.display{
    padding:20px;
    background-color: inherit;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: content;
    gap:30px;
    justify-content: center;
    align-items: flex-start;
    min-height: 89.5vh;


}
.card{
    color:white;
    overflow: hidden;
    background-color: var(--grey);
    width:300px;
    max-height:450px;
    border:1px solid var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:5px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 3px grey;
}
.title,.year,.poster{
    overflow: hidden;
}
.poster{
    height:350px;
    width:250px;
    object-fit: contain;
    object-position: center;
    filter: drop-shadow(0px 0px 5px grey);
    margin:10px;
}
.title{
    text-align: center;
    font-size: 1.2em;
}
.year{
    font-size: 0.7em;
    color:yellow;

}
.searchSec{
    height:60%;
    position: absolute;
    right:40px;
}
#searchBar{
    height:100%;
    width: 100%;
    border-radius: 20px;
    padding: 5px 20px;
}
#searchBtn{
    position: absolute;
    z-index:10;
    top:3px;
    right:5px;
    font-size: 20px;
    border-radius: 20px;
    padding: 2px;
    border: none;
    color:white;
    background-color: var(--green)
    ;
}
#searchBtn:hover{
    background-color:cyan;
    transform: scale(1.03,1.03);
    border:1px solid black;
}
footer{
    position: relative;
    bottom: 0;
    height:35px;
    padding: 5px 20px;
    font-size:smaller;
    overflow: hidden;
    text-align: right;
    width: 100vw;
    background-color: inherit;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    transform: scale(3,3);
    position: fixed;
    left: 50%;
    top:50%;

  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
header h1 img{
    height:30px;
    width:50px;
    object-fit: cover;
    object-position: center;
}
header h1{
    text-shadow: 0px 0px 5px black;
}
footer a{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}
.startText{
    font-size: 100px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%); 
    width: 1000px;
    text-align: center;

}
.invalidText{
    font-size: 60px;
    position: absolute;
    color:red;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%); 
    width: 1000px;
    text-align: center;
}